@charset "UTF-8";
/* titulos */
/* body */
/* condicionales */
body {
  background-color: beige;
}

/* Formato Movil */
@media screen and (max-width: 400px) {
  body {
    /* Títulos y subtitulos de seccion */
    /* Carruseles de imagenes */
    /* tarjetas de la sección "productos" */
    /* botones con animación */
    /* formulario de inicio de sesion */
    /* tarjetas de la seccion "for you" */
  }
  body h1 {
    text-align: center;
    margin-top: 3%;
    font-family: 'Alfa Slab One', cursive;
  }
  body h2 {
    text-align: center;
    margin-top: 3%;
  }
  body .imgCarrousel {
    width: 100%;
    height: 50%;
  }
  body .tituloSegundoCarrusel {
    margin-top: 45% !important;
  }
  body #carouselExampleIndicatorss {
    margin-top: 20% !important;
  }
  body .carousel-inner {
    margin-left: 16% !important;
    width: 70% !important;
  }
  body #cards {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 12%;
  }
  body .card {
    width: 288px;
    height: 580px;
    margin-top: 28%;
  }
  body .card-body {
    background-color: #dfdfbd;
  }
  body .card-text {
    margin-top: 30%;
  }
  body .card-img-top {
    width: 60%;
    height: 60%;
  }
  body .boton {
    margin-top: 5%;
    margin-left: 30%;
  }
  body .animation {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
  body .animation:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: beige;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  body .animation:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  body .animation:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: beige;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  body .animation:hover:after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  body .animation span {
    position: relative;
    z-index: 3;
  }
  body #formmm {
    margin: 3%;
    padding: 3%;
  }
  body .foryouuu {
    margin: 3%;
    padding: 3%;
  }
  body .card-img-top {
    width: 100%;
    height: 40%;
  }
  body .formShipments {
    padding: 10%;
    margin: 10%;
  }
  /* Footer */
  footer {
    background-color: black;
    margin-top: 210%;
  }
  footer section {
    background-color: black;
    margin-top: -15%;
  }
  footer section div {
    background-color: black;
  }
  footer div {
    background-color: black !important;
  }
}

/* Formato Escritorio */
@media screen and (min-width: 1200px) {
  body {
    /* Títulos y subtitulos de seccion */
    /* Carruseles de imagenes */
    /* tarjetas de la sección "productos" */
    /* botones con animación */
    /* formulario de inicio de sesion */
    /* tarjetas de la seccion "for you" */
  }
  body h1 {
    text-align: center;
    margin-top: 3%;
    font-family: 'Alfa Slab One', cursive;
  }
  body h2 {
    text-align: center;
    margin-top: 3%;
    font-family: 'Alfa Slab One', cursive;
  }
  body .fondo {
    width: 100%;
    height: 100vh;
  }
  body #carouselExampleIndicators {
    width: 100%;
    right: 100;
  }
  body #carouselExampleIndicatorss {
    width: 100%;
    right: 100;
    top: -200px;
  }
  body .imgCarrousel {
    width: 100%;
    height: 200%;
  }
  body .carousel-inner {
    margin-left: 25%;
    width: 50%;
  }
  body .tituloSegundoCarrusel {
    margin-top: -6% !important;
  }
  body #carouselExampleIndicatorss {
    margin-top: 20% !important;
  }
  body .carousel-inner {
    margin-left: 25% !important;
    width: 50% !important;
  }
  body #cards {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 400px 400px;
        grid-template-rows: 400px 400px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    grid-row-gap: 30%;
    margin-top: 4%;
  }
  body .card {
    width: 288px;
    height: 580px;
    margin-top: 28%;
  }
  body .card-body {
    background-color: #dfdfbd;
  }
  body .card-text {
    margin-top: 30%;
  }
  body .boton {
    margin-top: 5%;
    margin-left: 37%;
  }
  body .animation {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
  body .animation:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: beige;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  body .animation:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  body .animation:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: beige;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  body .animation:hover:after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  body .animation span {
    position: relative;
    z-index: 3;
  }
  body #formmm {
    margin: 3%;
    padding: 3%;
  }
  body .foryouuu {
    margin: 3%;
    padding: 3%;
  }
  body .carddd {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  body .formShipments {
    padding: 10%;
    margin: 10%;
  }
  /* Footer */
  footer {
    background-color: black;
    margin-top: 30%;
  }
  footer section {
    background-color: black;
    margin-top: -4%;
  }
  footer section div {
    background-color: black;
  }
  footer div {
    background-color: black !important;
  }
}
/*# sourceMappingURL=estilo.css.map */