$temporada: "primavera";
/* titulos */
$color-verano: rgb(236, 29, 1);
$color-otono: rgb(199, 187, 24);
$color-invierno: rgb(52, 135, 168);
$color-primavera: rgb(29, 119, 56);

/* body */
$body-color-dark: black;
$body-color-green: rgb(238, 236, 214);